@layer reset, init, design, global;

@import url(normalize.css) layer(reset);

@layer init {
    :root {
        --text-light: #000000;
    }
    html {
        font-family: 'Open Sans', sans-serif;
    }
}

@layer design {
    .page-header {
        text-align: center;
        padding: 1em;
        margin-bottom: 1em;;
    }
    .categories {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-auto-columns: minmax(300px, auto-fit);
        padding: 1em;
        gap: 1em;
    }
    .categories__item {
        position: relative;
        color: inherit;
     max-height: 80vh;
    }
    .categories__item:hover {
        box-shadow: 0 0 8px 2px var(--text-light);
    }
    .categories__item-image {
        filter: brightness(0.9) saturate(1) contrast(1);
    }
    .categories__item-description {
        padding: 1em;
        color: var(--text-light);
    }

    /* TODO */

    .categories{
    }
    .categories__item{
        border-radius: 1em;
        overflow: hidden;
        position: relative;

    }

    .categories__item:hover{
    transform: scaleY(1.05);

    }
    .categories__item{

    }
    .categories__item:hover .categories__item-image{
        transition: transform 0.5s ;
        transform: scale(1.2);
    }

    .categories__item:hover .categories__item-description{
        bottom: 50%;
        left: 50%;
        transform: translate(-50%);
        transition:  0.5s;
    }



.page-header{
    background-image: url(/assets/images/egypt.webp);
    background-repeat: no-repeat;
}
.categories__item-description{
position: absolute;
bottom: 0;
left: 0;
color:white
}



}

@layer global {
    .img-responsive {
        width: 100%;
        display: block;

    }
    figure, h2 {
        margin: 0;
    }
    .heading {
        margin: 0.25em 0;
        font-weight: bold;
    }
    .heading--h1 {
        text-transform: uppercase;
        font-size: 2em;
        color: var(--text-light);
    }
}